.login {
    width: 300px;
    border: 1px solid #d6d7da;
    margin: 100px auto;
    border-radius: 5px;
    padding: 15px;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
}
.singUp input {
    display: block;
    width: 90%;
    padding: 10px;
    border: solid 1px #BDC7D8;
}

#submit {
    width: 50%;
    background-color: #5bc0de;
    border-color: #46b8da;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
    margin: 0 auto;
    cursor: pointer;
}
.singUp .error {
    border: 2px solid #cc0000;;
}
.errorMessage {
    color: #cc0000;
    font-size: 12px;
    margin-bottom: 10px;
}


