.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.userCard {
    flex-basis: 45%;
    height: 100%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 0.4px;
}
.headerCard {
    display: flex;
    position: relative;
    align-items: center;
    font-weight: 500;
    background: rgba(229, 230, 231, 0.2);
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.mainContent {
    text-align: center;
    padding: 10px;
}
.footerCard {
    background: rgba(229, 230, 231, 0.2);
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
.active, .not-active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px;
}
.active {
    background: #5bc0de;
}
.not-active  {
    background: grey;
}
.selectUser {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.cancelButton {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 0;
}