body {
  margin: 0;
  padding: 0;
  font-family: arial;
}
nav {
  background-color: #5bc0de;
  padding: 5px;
  margin-bottom: 20px;
}
.navigation {
  display: flex;
  list-style: none;
  font-size: 18px;
}
.navigation a {
  color: white;
  text-decoration: none;
}
.navigation li:not(:last-child) {
  margin-right: 10px;
}

